/* style.css */

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center; /* centers sketch horizontally. */
  align-items: center;  /* centers sketch vertically. */
  background-color:#d5d7d9; /* light gray */
}